.table1{
	margin-top: 30px;
	/* margin-right: 50px;
	margin-left: 50px; */
}
.table1 table{
	margin-bottom: 0;
}
.dataTables_info{
	margin-top: 25px;
}
.paging_simple_numbers{
	margin-top: 25px;
}

table tbody td div{
    width: 60px;
    height: 55px;
}
td div img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.inHoaDon{
    float: right;
    color:#111;
    font-weight: 500;
}