.box{
    position: relative;
    top: -50px;
}
.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    top: 50px;
    left: 0;
    background-color: #6d7fcc;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidebar a{
    padding:8px 8px 8px 32px;
    text-decoration: none;
    font-size: 19px;
    color: #FFF;
    display: block;
    transition: 0.3s;
}
.dropdown-btn{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 19px;
  color: #FFF;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family: serif;
}
.sidebar:hover,.dropdown-btn:hover{
    color: #f1f1f1;
}
.menu{
    border-bottom: 1px solid;
}
.menu:hover{
    color:#CCC;
    text-decoration: none;
}
.openbtn{
    background-color: #6d7fcc;
    border: none;
    color: #FFF;
    width: 35px;
    height: 35px;
}
.openbtn i{
    font-size: 27px;
}
.openbtn:hover{
    background-color: #3348a3;
}
#main{
    transition: margin-left .5s;
    padding:20px;
    margin-left:250px;
    margin-top: 40px;
    z-index: 1;
}

.dropdown-container{
    display: none;
    background-color: #6d7fcc;
    padding-left: 8px;
    transition: display .5s;
}
.dropdown-container a{
    padding:8px 8px 8px 32px;
    text-decoration: none;
    font-size: 19px;
    color: #FFF;
    display: block;
    transition: 0.3s;
    font-family: serif;
    padding-left: 50px;
}
.dropdown-container a:hover{
    color:white;
}
.x{
    margin: 0;
    float:left;
}
.x .x-submenu{
    list-style-type: none;
    display: none;
}
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

#content{
    overflow-x: hidden;
    margin-left: 250px;
    margin-top: 80px;
}

.header{
    width: 100%;
    height: 50px;
    background-color: #6d7fcc;
    color: #FFF;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.header h3{
    padding:10px;
    padding-left: 30px;
    font-family: sans-serif;
    width: 500px;
}
.username{
    list-style-type: none;
    position: relative;
    display: block;
    margin: 0;
    height: 100%;
}
.username a{
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    color:#FFF;
}
.username a:hover{
    color:#FFF;
    text-decoration: none;
}
.ul1{
    flex-grow: 1;
    margin-right: 100px;
    margin-top: 10px;
    margin-left: 900px;
}
.noidung{
    display: flex;
}
.submenu{
    display: none;
    position: absolute;
    top: 34px;
    left: -80px;
}
.submenu li{
    color:#FFF;
    background-color: #6d7fcc;
    font-size: 14px;
    width: 200px;
    margin-left: 0;
    padding:8px;
}
.submenu li a{
    text-decoration: none;
    font-size: 15px;
}
.submenu li a:hover{
    color:#FFF;
}
.submenu li:hover{
    background-color: #ea8025;
}
.username:hover .submenu{
    display: block;
}