.header {
	background-color: #000000;
	color: white;
	font-size: 18px;
	font-weight: bold;
    display:block;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:99999;
}
.header ul li a{
    text-decoration:none;
    color:#FFF;
}
.abc{
    margin-top: 65px;
}
.menu {
	display: flex;
    justify-content: center;
    margin:0;
}
.menu li {
	padding: 20px 35px;
	list-style-type: none;
	display: inline-block;
	position: relative;
    margin-left: 0;
    font-family: 'Playfair Display', serif;
    transition: background-color 0.5s;
}
.menu li:hover {
    color:red;
    background-color: #ea8025;
}
.menu li:hover a{
    transform: translateY(5px);
}
.menu li a{
    transition: transform 0.5s;
}
.footer {
    background-color: #000;
    color:#FFF;
    position: relative !important;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.container{
    padding-top:80px;
}
.col-md-3 h3{
    font-size:22px;
}

.submenu{
    display: none;
    position: absolute;
    left: -40px;
    top: 66px;
}
.submenu li{
    color:#FFF;
    background-color: #000;
    font-size: 14px;
    width: 200px;
    margin-left: 0;
}
.submenu li:hover{
    background-color: #ea8025;
}
.menu a{
    display: block;
}
li:hover .submenu{
    display: block;
}