.inf-receiver {
  width: 1000px;
  height: 700px;
  margin-top: 93px;
  margin-left: 70px;
}
.inf-receiver h3 {
  font-weight: normal;
}
.inf-receiver label {
  font-size: 20px;
}
.inf-receiver form input {
  width: 580px;
  margin-bottom: 25px;
  height: 40px;
  padding: 7px;
  padding-left: 30px;
}
.inf-receiver form select {
  width: 580px;
  margin-bottom: 25px;
  height: 35px;
  padding: 7px;
  margin-left: 18px;
  height: 40px;
}
.inf-receiver form input:focus {
  outline: none;
  border-color: #ea8025;
}
.fa-map-marker-alt,
.fa-user,
.fa-phone-alt {
  position: relative;
  left: 30px;
  font-size: 20;
}

.order {
  width: 430px;
  position: fixed;
  top: 80px;
  left: 1040px;
  background: #eee;
}

.order .div-cart {
  position: fixed;
  width: 400px;
}
.order .cart {
  max-height: 450px;
  margin-top: 30px;
  overflow-y: scroll;
}
.list-product-cart .sl {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  margin: 10px 0;
  color: #fff;
  background-color: #ea8025;
  align-items: center;
}

.list-product-cart .inf .name {
  font-weight: bold;
  font-size: 15px;
  text-transform: capitalize;
}
.list-product-cart .inf .kichthuoc {
  font-size: 12px;
}
.list-product-cart .div-sp {
  border-bottom: 1px solid #aaa;
}
.list-product-cart .gia {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin: 10px 0;
  margin-right: 30px;
  align-items: center;
}
.sum .tongcong {
  margin-left: 250px;
}
.transport{
  display: flex;
}
#textVanChuyen{
  margin-left: 18px;
}
.transport .phiship {
  margin-left: 215px;
}
.giamgia{
  display: flex;
  margin-top: 17px;
  margin-bottom: 10px;
}
#textGiamGia{
  margin-left: 18px;
}
.giamgia .span-giamgia{
  margin-left: 235px;
}
.order .super-sum{
  display: flex;
}
#textTongCong{
  margin-left: 18px;
}
.order .super-sum .final-sum {
  margin-left: 190px;
  font-size: 25px;
  font-weight: bold;
  align-items: center;
}
.btn-cart {
  border: none;
  background-color: #ea8025;
  color: #fff;
  padding: 7px;
}
