@using Microsoft.AspNetCore.Http;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shop</title>
    <link href="~/css/Customer/styleLayout.css" rel="stylesheet" />
    <link href="~/bootrap4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/fontawesome-pro-5.12.0-web/css/all.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body class="xxx">
    <div class="header">
        <ul class="menu">
            <li><a href="/">ABC Shop</a></li>
            <li><a href="/home/index">Trang chủ</a></li>
            <li><a href="/sanpham/thucdon">Thực đơn</a></li>

            @if (Context.Session.GetString("username")!=null)
            {
                <li>
                    <a href="">@Context.Session.GetString("username")</a>
                    <ul class="submenu">
                        <li><a href="/khachhang/xemthongtinkhachhang/@Context.Session.GetString("username")">Thông tin cá nhân</a></li>
                        <li><a href="/taikhoan/logout">Đăng xuất</a></li>
                    </ul>
                </li>
            }
            else{
                <li><a href="/taikhoan/dangnhap">Đăng nhập</a></li>
            }
        </ul>
    </div>
    <div class="abc">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="container pb-2">
            <div class="row w-100">
                <div class="col-md-3">
                    <h2>ABC Shop</h2>
                </div>
                <div class="col-md-3">
                    <h3>About</h3>
                    <div class="mt-2">
                        <p>Về chúng tôi</p>
                        <p>Hạt cà phê..</p>
                        <p>Blog</p>
                        <p>Cơ hội nghề nghiệp</p>
                        <p>Cửa hàng</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>ALWAYS-ON SUPPORT</h3>
                    <div class="mt-2">
                        <p>Delivery 1800 6936 (07:00-21:00)</p>
                        <p>Support 02871 087 088 (07:00-21:00)</p>
                    </div>
                    <h3 class="mt-2">ADDRESS</h3>
                    <div class="mt-2">
                        <p>62 Tran Quang Khai, Tan Dinh, Quan 1 Ho Chi Minh, Vietnam</p>
                        <p>02871 087 088</p>
                        <p>hi@abcshop.vn</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>DELIVERY</h3>
                    <div class="mt-2">
                        <p>Shipping methods</p>
                        <p>Payment</p>
                        <p>Cash voucher</p>
                        <p>Return</p>
                        <p>Exchange</p>
                    </div>
                </div>
            </div>
            <div style="border-bottom:1px solid white;width:100%" class="mt-3"></div>
            <div class="row pt-2">
                <div class="col-md-6">Copyright &copy 2020 The MilkTea House. All rights reserved.</div>
                <div class="col-md-6">
                    Privacy Policy | Terms of Use
                </div>
            </div>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
