@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Document</title>
	<link rel="stylesheet" href="~/css/Admin/styleLayout.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="~/fontawesome-pro-5.12.0-web/css/all.min.css">
    <link href="~/bootrap4/css/bootstrap.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/wtf-forms.css">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap" rel="stylesheet">
	
</head>
<body>
	<div id="mySidebar" class="sidebar">
		<div class="box">
			  <a href="/sanpham/xemdanhsachsanpham" class="menu"><i class="fas fa-cheese"></i>&ensp; Sản phẩm</a>
			  <a href="/khuyenmai/xemdanhsachkhuyenmai" class="menu"><i class="fas fa-tag"></i>&ensp; Khuyến mãi</a>
			  <a href="/nhanvien/xemdanhsachnhanvien" class="menu"><i class="fad fa-users"></i>&nbsp; Nhân viên</a>
			  <a href="/khachhang/danhsachkhachhang" class="menu"><i class="fas fa-user"></i>&ensp; Khách hàng</a>
			  <button class="dropdown-btn menu">
			  	<i class="far fa-file-invoice-dollar"></i>&nbsp;&nbsp;&nbsp; Hóa đơn
			  </button>
			  <div class="dropdown-container menu">
			    <a href="/hoadon/Xemdanhsachhoadon">Xem danh sách</a>
			    <a href="/hoadon/xemdanhsachhoadonchuaxuly">Danh sách chưa xử lý</a>
			    <a href="/hoadon/xemdanhsachhoadonyeucauhuy">Danh sách yêu cầu hủy</a>
			  </div>
			  <a href="/thongke/doanhthu" class="menu"><i class="fad fa-money-bill-alt"></i>&nbsp; Thống kê</a>
		</div>
		
	</div>
	<div class="header">
		<div class="noidung">
			<h3>Milk Tea Store</h3>
			<ul class="ul1">
				<li class="username">
					<a href="">@Context.Session.GetString("username1")</a>
					<ul class="submenu">
						<li><a href="/nhanvien/xemthongtinnhanvien/@Context.Session.GetString("username1")"">Thông tin cá nhân</a></li>
						<li><a href="/taikhoan/logout">Đăng xuất</a></li>
					</ul>
				</li>
			</ul>
		</div>
		
	</div>

	<div id="main" style="position: fixed;top: 0">
	  <button class="openbtn"><i class="fas fa-align-left"></i></button>
	</div>
	
	<div id="content" style="transition: margin-left .5s;">
		@RenderBody()
	</div>

	<script>
		var dropdown = document.getElementsByClassName("dropdown-btn");
		var i;
		for (i = 0; i < dropdown.length; i++) {
		  dropdown[i].addEventListener("click", function() {
		    this.classList.toggle("active");
		    var dropdownContent = this.nextElementSibling;
		    if (dropdownContent.style.display === "block") {
		      dropdownContent.style.display = "none";
		    } else {
		      dropdownContent.style.display = "block";
		    }
		  });
		}
		$(document).ready(function(){
			let i =0;
			$(".openbtn").click(function(){
				if(i===1){
					$("#mySidebar").css('width','250px');
					$("#main,#content").css('margin-left',"250px");
					i=0;
				}
				else{
					$("#mySidebar").css('width','0');
					$("#main,#content").css('margin-left',"0");
					i=1;
				}
			});
		});
		
	</script>
</body>
</html>
