<link href="~/css/Customer/SanPham/styleDatHangThanhCong.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <p class="thanks">Cảm ơn quý khách đã đặt hàng</p>
            <img src="~/images/cach-tinh-phi-ship.png" alt="">
        </div>
        <div class="col-md-4">
            <div class="voucher">
                <p class="x">ABC Shop kính tặng quý khách voucher giảm giá 5%</p>
                <p class="x">Mã voucher:</p>
                <p class="magiamgia">@ViewBag.maGiamGia</p>
            </div>
        </div>
    </div>
    
</div>