@{
    Layout = "_LayoutAdmin";
}
@model Shop.Models.Khuyenmai;
<link rel="stylesheet" href="~/css/Admin/KhuyenMai/styleThemKhuyenMai.css">

<div class="parent container">
    <h3 class="mb-4" style="color:red">Thêm khuyến mãi</h3>
    <form asp-action="Themkhuyenmai" asp-controller="khuyenmai" method="POST">
        <div class="form-group">
            <label for="TenKhuyenMai">1. Tên khuyến mãi</label>
            <input type="text" class="form-control w-100" id="TenKhuyenMai" placeholder="Nhập tên khuyến mãi" name="TenKhuyenMai">
        </div>
        <div class="form-group">
            <label for="MoTa">2. Mô tả</label>
            <input type="text" class="form-control w-100" id="MoTa" placeholder="Nhập mô tả" name="MoTa">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="NgayBatDau">3. Ngày bắt đầu</label>
                <input type="date" class="form-control" id="NgayBatDau" name="NgayBatDau">
            </div>
            <div class="form-group col-md-6">
                <label for="NgayKetThuc">4. Ngày kết thúc</label>
                <input type="date" class="form-control" id="NgayKetThuc" name="NgayKetThuc">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="PhanTramGiam">5. Phần trăm giảm</label>
                <input type="number" class="form-control" id="PhanTramGiam" name="PhanTramGiam">
            </div>
            <div class="form-group col-md-6">
                <label for="TrangThai">6. Trạng thái</label><br>
                <select name="TrangThai" id="TrangThai" class="p-1 border">
                    <option value="1">Kích hoạt</option>
                    <option value="0">Chưa kích hoạt</option>
                </select>
            </div>
        </div>
        @if(ViewBag.success!=null){
            <div class="alert alert-success" role="alert">
                @ViewBag.success
            </div>
        }
        <input type="submit" value="&nbsp; Thêm" class="btn-submit">
        <i class="far fa-plus-circle icon"></i>
    </form>
</div>