@{
    Layout = "_LayoutAdmin";
}
@model Shop.Models.Khuyenmai;
<link rel="stylesheet" href="~/css/Admin/KhuyenMai/styleXemDanhSachKhuyenMai.css">

<div class="content container">
    <form asp-action="Themkhuyenmai" asp-controller="khuyenmai" method="POST">
        <div class="form-group">
            <label for="TenKhuyenMai">Tên khuyến mãi</label>
            <input type="text" class="form-control w-100" id="TenKhuyenMai" placeholder="Nhập tên khuyến mãi" name="TenKhuyenMai">
        </div>
        <div class="form-group">
            <label for="MoTa">Mô tả</label>
            <input type="text" class="form-control w-100" id="MoTa" placeholder="Nhập mô tả" name="MoTa">
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="NgayBatDau">Ngày bắt đầu</label>
                <input type="date" class="form-control" id="NgayBatDau" name="NgayBatDau">
            </div>
            <div class="form-group col-md-6">
                <label for="NgayKetThuc">Ngày kết thúc</label>
                <input type="date" class="form-control" id="NgayKetThuc" name="NgayKetThuc">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="PhanTramGiam">Phần trăm giảm</label>
                <input type="number" class="form-control" id="PhanTramGiam" name="PhanTramGiam">
            </div>
            <div class="form-group col-md-6">
                <label for="TrangThai">Trạng thái</label>
                <select name="TrangThai" id="TrangThai">
                    <option value="1">Kích hoạt</option>
                    <option value="0">Chưa kích hoạt</option>
                </select>
            </div>
        </div>
        @if(ViewBag.success!=null){
            <div class="alert alert-success" role="alert">
                @ViewBag.success
            </div>
        }
        <input type="submit" value="Thêm">
    </form>
</div>